[client]
user={{ mysql_user }}
password="{{ mysql_password }}"

[mysql]
user={{ mysql_user }}
password="{{ mysql_password }}"

[mysqldump]
user={{ mysql_user }}
password="{{ mysql_password }}"

[mysqldiff]
user={{ mysql_user }}
password="{{ mysql_password }}"
